{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "E‑mail envoyé" %}{% endblock %}
{% block page_heading %}{% trans "E‑mail envoyé" %}{% endblock %}

{% block account_content %}
<p class="text-muted">
  {% trans "Si un compte correspond à cette adresse, un e‑mail contenant un lien de réinitialisation vient d’être envoyé." %}
</p>

<div class="alert alert-info small mt-3">
        <strong>Pour bien recevoir les emails en provenance de Massy-Innove.fr :</strong><br>
        Par défaut, les mails envoyés depuis cette plateforme (notamment ceux servant à créer votre compte) seront classés automatiquement dans les Spams par Outlook. Pour corriger cela définitivement, quand vous êtes sur votre boîte aux lettres Outlook :
        faites un clic-droit sur n'importe quel mail, cliquez sur le menu "Courrier indésirable / Options du courrier indésirable", allez dans l'onglet "Expéditeurs approuvés" et ajoutez "massy@massy-innove.fr" dans la liste des expéditeurs approuvés.

      </div>
{% endblock %}
